<main class="main">
  <div class="container">
    <div class="header">
      <p class="cg-font uppercase font-1rem">Yay! Thanks for your response.</p>
      <p class="cg-font uppercase font-1rem">Can't wait to celebrate with you at</p>
      <p class="cg-font uppercase font-1rem">the party… or in spirit if not!</p>
      <p class="ds-font font-5rem">Jenny</p>
      <p class="ds-font font-2rem">Blooming Into</p>
      <p class="ds-font font-5rem">60</p>
      <p class="cg-font uppercase font-1rem">June 20, 2026  |  at 4 pm</p>
      <p class="cg-font uppercase font-1rem">New jonah's place inland resort</p>
      <p class="cg-font uppercase font-1rem">brgy. Ibayo, balanga city, bataan</p>
    </div>
    <div class="content-row">
        <div class="left-container">
          <p class="ds-font font-2rem">Attire</p>
          <p class="cg-font">We'll be in pink — come in whatever makes you feel comfy and happy.</p>
        </div>
      <div class="right-container">
        <p class="ds-font font-2rem">Gift Guide</p>
        <p class="cg-font">Your presence is present enough! If you insist on bringing something, a monetary gift would be appreciated.</p>
      </div>
    </div>
    <div class="footer">
        <p class="cg-font">For blooming concerns, contact:</p>
        <p class="cg-font">Via text/chat</p>
        <p class="cg-font">Renz (0917 594 1335)</p>
        <p class="cg-font">Ana (0908 810 1874)</p>
        <p class="cg-font">Anjel (0917 583 7471)</p>
    </div>
  </div>
</main>
