<main class="main">
  <div class="container">
    <div class="header">
      <p class="cg-font uppercase font-1rem">We're throwing our mom a party,</p>
      <p class="cg-font uppercase font-1rem">and we'd love for you to witness</p>
      <p class="ds-font font-5rem">Jenny</p>
      <p class="ds-font font-2rem">Blooming Into</p>
      <p class="ds-font font-5rem">60</p>
      <p class="cg-font uppercase font-1rem">June 20, 2026  |  at 4 pm</p>
      <p class="cg-font uppercase font-1rem">New jonah's place inland resort</p>
      <p class="cg-font uppercase font-1rem">brgy. Ibayo, balanga city, bataan</p>
    </div>
    <div class="content-row">
      <div class="left-container">
          <p class="ds-font font-3rem">Attire</p>
          <p class="cg-font">We'll be in pink — come in whatever makes you feel comfy and happy.</p>

          <p class="ds-font font-3rem">Gift Guide</p>
          <p class="cg-font">Your presence is present enough! If you insist on bringing something, a monetary gift would be appreciated.</p>
      </div>
      <div class="right-container">
          <p class="ds-font font-3rem">RSVP</p>
          <p class="cg-font">We reserved ___ seat/s for you. Kindly respond on or before JUNE 6:</p>
          <p class="cg-font">Via text/chat</p>
          <p class="cg-font">Renz (0917 594 1335)</p>
          <p class="cg-font">Ana (0908 810 1874)</p>
          <p class="cg-font">Anjel (0917 583 7471)</p>
          <!-- <p class="cg-font">Or scan this QR</p> -->
          <!-- <a routerLink="/rsvp" class="qr-code"></a> -->
      </div>
    </div>
  </div>
</main>
